#space {
    width: 1000px;
    height: 500px;
    border: 2px solid black;
    margin: auto;
}

#object {
    width: 100px;
    height: 100px;
    background-color: brown;
    position: relative;
    top: 400px;
}